Tiago Scolari <tscolari@pivotal.io> <tscolari@gmail.com>
Steffen Uhlig <Steffen.Uhlig@de.ibm.com> <suhlig@users.noreply.github.com>
Steffen Uhlig <Steffen.Uhlig@de.ibm.com> <Steffen.Uhlig@de.ibmA.com>
Stev Witzel <switzel@pivotal.io> <stev.witzel@gmail.com>
Peter Goetz <peter.gtz@gmail.com> <pego@de.ibm.com>
Peter Goetz <peter.gtz@gmail.com> <PEGO@de.ibm.com>
Peter Goetz <peter.gtz@gmail.com> Peter Götz <peter.gtz@gmail.com>
Simon Moser <smoser@de.ibm.com> <smoser@Simons-MacBook-Pro-3.local>
